<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    {% if title %}
        <title> Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
    
</head>



</head>
<body>
	<h1>Blog About!</h1>
{% extends "blog/base.html" %}
{% block content %}
<h1>Blog About!</h1>
{% endblock content %}
</body>
</html>