<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> bradshaw  {{post.title}}</h1>
    <small> By;{{post.author.first_name}}

        {{post.first_name}}, <br>{{post.surname}} 
        <br><br>
        {{post.email}} 
        <br><br>
        {{post.ADDRESS_1}}<br><br>
        {{post.ADDRESS_2}}<br><br>
        
        {{post.ADDRESS_3}}<br><br> 
        {{post.ADDRESS_4}}<br><br> 
        {{post.ADDRESS_5}}<br><br>
        {{post.code}}<br><br>
        
        {{post.why}}<br><br> 
        {{post.MAILING_LIST}}</li>
        {{post.body}} 
    </small>
<br>
</body>
</html>